configs/.config/cava/shaders/orion_circle.frag
configs/.config/cava/shaders/orion_circle_rotate.frag
configs/.config/cava/shaders/orion_saturn_core.frag
configs/.config/cava/shaders/orion_saturn_subring.frag
configs/.config/zed/keymap.json
configs/.config/zed/prompts/
