.todo1, .todo2, .todo3, .todo4, .todo5, .todo6 {
	color: #d8d8d8;
	font-size : 16px;
	font-weight : normal;
  font-family: "be vietnam pro";
	margin : 6px 0px 10px 12px;
}

.todo_header {
	color: #8AAC8B;
	font-size : 28px;
	font-weight : bold;
  font-family: "space grotesk";
	margin : 32px 0px 10px 34px;
}

.todo_check {
	color: #9691B3;
	font-size : 16px;
	font-weight : bold;
	margin : -2px 0px 0px 36px;
}

.todo_reload {
	color: #8AAC8B;
	font-size : 22px;
	font-weight : bold;
	margin : 26px 0px 0px 10px;
}
