/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #282828;
    background-alt: #282B31FF;
    foreground:     #FBF1C7;
    selected:       #61AFEFFF;
    active:         #A3AE6DFF;
    urgent:         #D67B76FF;
    
    black:     #282828;
    brightgrey:     #535353;
    darkgrey:     #393939;
    red: #cc8480;
    green: #8AAC8B;
    yellow: #ACA98A;
    blue: #9691B3;
    magenta: #C49EC4;
    cyan: #9EC3C4;
    white: #FBF1C7;
}
