#search_header {
    background: #181818 !important;
}

#search_logo {
    display: none;
}

#q, #clear_search, #send_search {
    background: #2a2a2a !important;
}

#clear_search:hover {
    color: #9691b3;
}

#send_search:hover {
    background: #9691b3 !important;
}

#results, #main_results {
    background: #0f0f0f !important;
}

.search_filters {
    background: #0f0f0f;
}

body {
    background: #0f0f0f;
}

.result:active, .result:focus, .result:enabled, .result:checked, .result:target {
    /*background: pink !important;*/
}

footer {
    background: #181818;
}
