button {
  color: #0f0f0f;
}

*{
	all: unset;
	font-family: feather;
	font-family: Iosevka;
}

.genwin {
	background-color: #0f0f0f;
}

@import "scss/music.scss";
@import "scss/quote.scss";
@import "scss/todo.scss";
@import "scss/date.scss";
