font_size 16
status_bar_font_size 16

super_fast_search 1
case_sensitive_search 0

custom_color_contrast 0.3
custom_color_mode_empty_background_color #1d2021
page_separator_color #1d2021
page_separator_width 10
custom_background_color #202020
custom_text_color #fbf1c7
search_highlight_color #7ec16e
status_bar_color #504945
status_bar_text_color #FBF1C7

# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Gruvbox dark, hard scheme by Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)

custom_background_color #202020
custom_text_color #ebdbb2

page_separator_color #202020
search_highlight_color #fabd2f
status_bar_color #202020
status_bar_text_color #FBF1C7
ui_text_color #FBF1C7
ui_selected_text_color #FBF1C7
ui_background_color #3c3836
ui_selected_background_color #665c54
background_color #202020
visual_mark_color 0.40000000 0.36078431 0.32941176 0.5
text_highlight_color #665c54
link_highlight_color #83a598
synctex_highlight_color #fb4934

startup_commands toggle_custom_color;toggle_horizontal_scroll_lock;
#toggle_statusbar;
