.time_hour {
	color: #8AAC8B;
	font-size : 40px;
	font-weight : normal;
	font-weight : bold;
  font-family: "sora";
	margin : 0px 0px 0px 30px;
}

.time_minute {
	color: #AC8A8C;
	font-size : 40px;
	font-weight : normal;
  font-family: "space grotesk";
	margin : 0px 34px 0px 0px;
}

.time_colon {
	color: #9EC3C4;
	font-size : 30px;
	font-weight : bold;
  font-family: "space grotesk";
	margin : -4px 20px 0px 20px;
}

.date_icon {
	color: #9691B3;
	font-size : 26px;
	font-weight : normal;
	margin : 0px 0px 0px 24px;
}

.date_string {
	color: #f0f0f0;
	font-size : 18px;
	font-weight : normal;
	margin : 0px 30px 0px 20px;
}
