.quote {
	color: #d8d8d8;
	font-size : 16px;
	font-weight : normal;
	margin : 0px 0px 0px -2px;
  font-family: "be vietnam pro";
}

.quote_icon {
	color: #AC8A8C;
	font-size : 36px;
	font-weight : normal;
	margin : 0px 0px 0px 24px;
}
